#the following libraries are available to import


# data analysis libraries
numpy
scipy
pandas
pandas-datareader

# technical analysis, indicator libraries
ta
ta-lib
bta-lib
pandas-ta
tulipy

# database connection, ORM
psycopg2
sqlalchemy

# broker API libraries
#alpaca-trade-api
#python-binance


# data providers
cryptowatch-sdk

#polygon-api-client

#yfinance


# visualization
matplotlib
plotly
dash
mplfinance
jupyterlab
seaborn 
#pillow

# backtesting
backtrader
pyalgotrade
bt

# portfolio, performance analysis
pyfolio
finquant

# web frameworks and extensions
fastapi
flask
flask-cors
flask-login
flask-sqlalchemy
itsdangerous
aiofiles
chalice

# servers, task queue


# networking
requests
boto3
urllib3
websocket-client
websockets

# other data stores, formats
redis
h5py


###### machine learning
# tensorflow
# scikit-learn
# keras
